<div class=" min-vh-100">

  <div class="container width-35">
    <div class="form p-5">
    <p class="text-primary fs-3 text-center mb-5">
      Enter Your Email
    </p>

    <form [formGroup]="forgotPass" (ngSubmit)="password(forgotPass)">
      <div class="form-group position-relative mb-5 rounded-pill w-100 bg-light">
        <input type="email" [class]="forgotPass.get('email')?.errors && (forgotPass.get('email')?.touched || isInvalid )? 'inputError' : '' " class="control rounded-pill w-100" placeholder="Your Email" formControlName="email" name="email">
        <p class="placeHolder position-absolute m-0" [class]="forgotPass.get('email')?.errors && (forgotPass.get('email')?.touched || isInvalid ) ? 'inputErrorPLaceholder' : '' ">Your Email</p>
        <div class="position-absolute fa-regular fa-circle-xmark text-danger" *ngIf="forgotPass.get('email')?.errors && (forgotPass.get('email')?.touched || isInvalid )">
          <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x" *ngIf="forgotPass.get('email')?.getError('required')">Your Email Is Required<i class="fa-solid fa-caret-down text-danger"></i></p>  
          <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x" *ngIf="forgotPass.get('email')?.getError('email')">Your Email Is Wrong<i class="fa-solid fa-caret-down text-danger"></i></p>  
        </div>
        <div *ngIf="message" class="alert alert-success">
          {{message}}
        </div>
        <div *ngIf="message" class="alert alert-success mb-3 w-100 text-center fs-4">
          {{message}}
        </div>
      </div>
      <button class="btn btn-primary rounded-pill px-5 py-2 d-block mx-auto">
        <span *ngIf="!loader">Submit</span>
        <i *ngIf="loader" class="fa fa-spin fa-spinner"></i>
      </button>
    </form>
  </div>
</div>
    </div>