<div class="container-fluid bg-secondary bg-opacity-10 p-3 p-sm-5">
  <h3 class=" text-capitalize fw-normal">get the freshCart app</h3>
  <p class=" text-muted">We will send you a link, open it on your phone to download the app</p>
  <div class="ps-sm-4">
    <div class="border-bottom row gy-3 border-bottom pb-5">
      <div class="col-12 col-md-10">
        <input type="email" placeholder="Email .." class="form-control flex-grow-1">
      </div>
      <div class="col-12 col-md-2">
        <button class="btn btn-outline-primary w-100">Share App Link</button>
      </div>
    </div>
    <div class="border-bottom d-xl-flex justify-content-between align-items-center">
      <div class="pe-3 payment d-md-flex justify-content-between align-items-center gap-3  pb-5 pt-4">
        <h4 class=" fw-normal">Payment Partners </h4>
        <div class="images d-flex justify-content-between align-items-center gap-3">
          <img class=" img" src="../../../assets/footer/amazonPay.png" alt="">
          <img class=" img" src="../../../assets/footer/master card.png" alt="">
          <img class=" img" src="../../../assets/footer/visa.png" alt="">
          <img class=" img" src="../../../assets/footer/payPal.png" alt="">
        </div>
      </div>
      <div class="deliveries d-md-flex justify-content-between align-items-center gap-3  pb-5 pt-sm-4">
        <h4 class=" text-capitalize fw-normal">get deliveries with freshCart</h4>
        <div class="buttons d-flex justify-content-start align-items-center gap-3">
          <a tabIndex="0"><img class="bn46 curser-pointer" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="bn45"/></a>
          <a tabIndex="0"><img class="bn45 curser-pointer" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="bn45"/></a>
        </div>
      </div>
    </div>
  </div>
</div>