<div class="container min-vh-100 py-5">
  <div class="row align-items-center" *ngIf="details">
    <div class="col-md-4" >
      <div class="images">
        <owl-carousel-o [options]="customOptions" class="mb-3">
          
          <ng-template carouselSlide *ngFor="let img of details.images">
            <img [src]="img" class="w-100" alt="">
          </ng-template>

        </owl-carousel-o>
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <h2 class="order-1 order-lg-1">{{details.title}}</h2>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <p class="text-primary">{{details.category.name}}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <p class=" fw-semibold">{{details.price | currency : 'EGP '}}</p>
        <p class=" fw-semibold"><i class="fa-solid fa-star"></i> {{details.ratingsAverage}}</p>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <p class=" fw-bold mb-0">Sold : {{details.sold}}</p>
        <i class="fa-regular fa-heart fa-2x curser-pointer trn-3" [class]="addedToWishlist ? 'fa-solid text-danger' : '' " (click)="addedToWishlist ? removeFromWishlist(details.id) : addToWishlist(details.id) "></i>
      </div>
      <p class="text-muted h4 mb-3">{{details.description}}</p>
      <button (click)="addToCart(productId)" class="btn btn-outline-primary w-100">Add to cart +</button>
    </div>
  </div>
  <p-toast></p-toast>
</div>