@media (992px <= width) {
  .container-fluid {
    padding: 0 150px;
  }
}

.fa-caret-down {
  top: calc(100% - 15px);
}
.title p {
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
}
.title:hover p {
  visibility: visible;
  opacity: 1;
}
.title {
  font-size: 18px ;
}
.box {
  transition: all .3s;
  border: transparent 1px solid ;
}
.box:hover {
  border-color:var(--main-color) ;
}
  p-accordion ::ng-deep .p-accordion-header-text {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 11px;
  }
  p-accordion ::ng-deep .p-icon {
    color: black;
  }