<div class="container-fluid slider-bg py-5 slider">
<div class="container position-relative px-sm-5">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="container-lg">
        <div class="row align-items-center">
          <div class="col-lg-4 text-center">
            <div class="title">
              <i class="fa-brands fa-apple d-block mb-3"></i>
              <h3>Apple Watch Ultra 2</h3>
              <p class="text-muted">
                The Apple Watch Ultra 2 is a tough and powerful smartwatch that
                has a lot to offer. It's a great choice for people who are
                active and adventurous. It has a lot of features that can help
                you stay safe and connected, even in tough environments.
              </p>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <img src="assets/apple watch.png" class="w-75 mx-auto ms-lg-auto" alt="" />
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 text-center">
            <div class="title">
              <i class="fa-brands fa-apple d-block mb-3"></i>
              <h3>AirPods 2 Pro</h3>
              <p class="text-muted">
                AirPods Pro are wireless earbuds from Apple that feature active
                noise cancellation (ANC) and transparency mode. ANC blocks out
                external noise, while transparency mode allows you to hear your
                surroundings. AirPods Pro also have a comfortable fit and long
                battery life.
              </p>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <img src="assets/air pods.png" class="w-60 mx-auto ms-lg-auto" alt="" />
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 text-center">
            <div class="title">
              <img src="assets/huawei.png" class="mb-3" alt="" />
              <h3>Huawei Watch Buds</h3>
              <p class="text-muted">
                The Huawei Watch Buds is a smartwatch that has built-in wireless
                earbuds. The earbuds are located in a pop-up compartment on the
                side of the watch. The watch has a 1.43-inch AMOLED display, a
                stainless steel body, and a variety of health and fitness
                tracking features.
              </p>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <img src="assets/huawi watch.png" class="mx-auto ms-lg-auto w-75" alt="" />
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 text-center">
            <div class="title">
              <i class="fa-brands fa-apple d-block mb-3"></i>
              <h3>Iphone 15 Pro Max</h3>
              <p class="text-muted">
                The iPhone 15 Pro Max is a high-end smartphone from Apple. It
                has a large 6.7-inch OLED display with a 120Hz refresh rate, a
                powerful A17 Pro chip, and a triple-lens rear camera system with
                a 48MP main sensor. It also has a new Action button for quickly
                accessing your favorite features, a durable titanium design, and
                a long-lasting battery.
              </p>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <img src="assets/iphone 15.png" class="w-40 mx-auto ms-lg-auto" alt="" />
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 text-center">
            <div class="title">
              <img src="assets/free-sony-226421.png" alt="" class="mb-3 sony" />
              <h3>Playstation 5</h3>
              <p class="text-muted">
                The PlayStation 5 is a powerful video game console from Sony. It
                has a fast processor and graphics card, a large storage drive,
                and a new controller with haptic feedback and adaptive triggers.
                The PS5 can play games at 4K resolution and 120 frames per
                second.
              </p>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <img src="assets/ps5.png" class="w-75 mx-auto ms-lg-auto" alt="" />
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
</div>
