<div class=" min-vh-100">

  <div class="container py-5 width-35">
    <div class="form p-5">
      <form class="pt-4" [formGroup]="changePassForm" (ngSubmit)="changed(changePassForm)">
    <div class="form-group position-relative mb-4 rounded-pill w-100 bg-light my-5">
      <input type="password" [class]="changePassForm.get('currentPassword')?.errors && (changePassForm.get('currentPassword')?.dirty || isInvalid) ? 'inputError' : '' " class="control rounded-pill w-100" placeholder=" Current Password " formControlName="currentPassword" name="currentPassword">
      <p class="placeHolder position-absolute m-0" [class]="changePassForm.get('currentPassword')?.errors && (changePassForm.get('currentPassword')?.dirty || isInvalid) ? 'inputErrorPLaceholder' : ''">Current Password</p>
      <div class="position-absolute fa-regular fa-circle-xmark text-danger" *ngIf="changePassForm.get('currentPassword')?.errors &&  (changePassForm.get('currentPassword')?.dirty || isInvalid)">
        <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x" *ngIf="changePassForm.get('currentPassword')?.getError('required')">Current Password Is Required<i class="fa-solid fa-caret-down text-danger"></i></p>  
        <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x" *ngIf="changePassForm.get('currentPassword')?.getError('pattern')">Current Password Is Wrong<i class="fa-solid fa-caret-down text-danger"></i></p>  
      </div>
    </div>
    <div class="form-group position-relative mb-4 rounded-pill w-100 bg-light">
      <input type="password" [class]="changePassForm.get('password')?.errors && (changePassForm.get('password')?.dirty || isInvalid || isInvalid) ? 'inputError' : '' " class="control rounded-pill w-100" placeholder="New Password" formControlName="password" name="password">
      <p class="placeHolder position-absolute m-0" [class]="changePassForm.get('password')?.errors && (changePassForm.get('password')?.dirty || isInvalid) ? 'inputErrorPLaceholder' : '' ">New Password</p>
      <div class="position-absolute fa-regular fa-circle-xmark text-danger" *ngIf="changePassForm.get('password')?.errors && (changePassForm.get('password')?.dirty || isInvalid)">
        <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x" *ngIf="changePassForm.get('password')?.getError('required')">New Password Is Required<i class="fa-solid fa-caret-down text-danger"></i></p>  
        <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x " *ngIf="changePassForm.get('password')?.getError('pattern')">Start With Only Capital Letter<i class="fa-solid fa-caret-down text-danger"></i></p>  
      </div>
    </div>
    <div class="form-group position-relative mb-4 rounded-pill w-100">
      <input type="password" class="control rounded-pill w-100 bg-light" [class]="changePassForm.get('rePassword')?.errors && (changePassForm.get('rePassword')?.dirty || isInvalid) ? 'inputError' : '' " placeholder="Confirm New Password" formControlName="rePassword" name="rePassword">
      <p class="placeHolder position-absolute m-0" [class]="changePassForm.get('rePassword')?.errors && (changePassForm.get('rePassword')?.dirty || isInvalid) ? 'inputErrorPLaceholder' : '' ">Confirm New Password</p>
      <div class="position-absolute fa-regular fa-circle-xmark text-danger" *ngIf="changePassForm.get('rePassword')?.errors && (changePassForm.get('rePassword')?.dirty || isInvalid)">
        <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x" *ngIf="changePassForm.get('rePassword')?.getError('required')">Confirm Password Is Required<i class="fa-solid fa-caret-down text-danger"></i></p>  
        <p class="alert alert-danger position-absolute bottom-100 start-50 d-block translate-middle-x" *ngIf="changePassForm.get('rePassword')?.getError('matching')">Dose't match the password<i class="fa-solid fa-caret-down text-danger"></i></p>  
      </div>
    </div>
    <button class="btn btn-primary rounded-pill px-5 py-2 d-block mx-auto">
      <i *ngIf="loader" class="fa fa-spin fa-spinner fs-5"></i>
      <span *ngIf="!loader">Sign-up <i class="fa-solid fa-arrow-right-long m0"></i></span>
    </button>
  </form>
  </div>
  <p-toast></p-toast>
</div>
  </div>